
<style>
.loginBox {
  max-width:  90%;
  width: 500px
}
</style>
<div layout="column" layout-align="center center" layout-fill="layout-fill">
    <div layout="column" class="loginBox md-whiteframe-z1">
      <md-toolbar>
        <h2 class="md-toolbar-tools"><span>Registration</span></h2>
      </md-toolbar>
      <form name="loginForm">
        <md-content layout="column" class="md-padding">
          <div layout="row">
            <md-input-container flex>
              <label>First Name</label>
              <input required type="text" ng-model="RegistrationVM.user.first_name" name="firstName" />
              <div ng-messages="loginForm.name.$error">
                <div ng-message="required">This is required.</div>
              </div>
            </md-input-container>
            <md-input-container flex>
              <label>Last Name</label>
              <input required type="text" ng-model="RegistrationVM.user.last_name" name="lastName" />
              <div ng-messages="loginForm.name.$error">
                <div ng-message="required">This is required.</div>
              </div>
            </md-input-container>
            <md-input-container flex>
              <label>Email</label>
              <input required type="text" ng-model="RegistrationVM.user.email" name="email" />
              <div ng-messages="loginForm.email.$error">
                <div ng-message="required">This is required.</div>
              </div>
            </md-input-container>
          </div>

          <div layout="row">
            <md-input-container flex>
              <label>Password</label>
              <input required type="password" ng-model="RegistrationVM.user.password" name="password" />
              <div ng-messages="loginForm.password.$error" role="alert">
                <div ng-message="required">This is required.</div>
              </div>
            </md-input-container>

            <md-input-container flex>
              <label>Password Confirmation</label>
              <input required type="password" ng-model="RegistrationVM.user.password_confirmation" name="password_confirmation" />
              <div ng-messages="loginForm.password_confirmation.$error" role="alert">
                <div ng-message="required">This is required.</div>
              </div>
            </md-input-container>
          </div>
          <div layout="row">
            <md-input-container flex>
              <label>Secret Code</label>
              <input required type="text" ng-model="RegistrationVM.user.code.coded_value" name="secretCode" />
              <div ng-messages="loginForm.password.$error" role="alert">
                <div ng-message="required">This is required.</div>
              </div>
            </md-input-container>
          </div>
          <div layout="row" layout-align="center">
            <md-button type="submit" class="md-raised md-primary" ng-click="RegistrationVM.signup()">Sign Up</md-button>
          </div>
      </form>
    </div>
</div>
